/* responsive with media screen start */

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .left_room .r4{
        left: 0;
    }
    .left_room .r5{
        left: 40px;
    }
    .left_room .r6{
        left: 80px;
    }
    .left_room .r7{
        left: 120px;
    }
    .left_room .r8{
        left: 160px;
    }
    .left_room .r9{
        left: 200px;
    }
    .right_room .r14{
        left: 0;
    }
    .right_room .r15{
        left: 40px;
    }
    .right_room .r16{
        left: 80px;
    }
    .right_room .r17{
        left: 120px;
    }
    .right_room .r18{
        left: 160px;
    }
    .right_room .r19{
        left: 200px;
    }
    .right_room .r23{
        right: 40px;
    }
    .right_room .r24{
        right: 80px;
    }
    .main_room .r32{
        right: 0;
    }
    .main_room .r33{
        right: 40px;
    }
    .main_room .r34{
        right: 80px;
    }
    .main_room .r35{
        right: 120px;
    }
    .main_room .r36{
        right: 160px;
    }
    .main_room .r37{
        right: 200px;
    }
    .main_room .r38{
        right: 240px;
    }
    .main_room .r39{
        right: 280px;
    }
    .main_room .r40{
        right: 320px;
    }
    .main_room .r41{
        right: 360px;
    }
    .main_room .r42{
        right: 400px;
    }
    .main_room .r43{
        right: 440px;
    }
    .main_room .r44{
        right: 480px;
    }
    .main_room .r45{
        right: 520px;
    }
    .main_room .r46{
        left: 0;
    }
    .main_room .r47{
        left: 0;
    }
    .main_room .r48{
        left: 0;
    }
    .main_room .r49{
        left: 0;
    }
    .main_room .r50{
        left: 0;
    }
    .main_room .r51{
        left: 0;
    }
    .main_room .r52{
        left: 18%;
    }
    .main_room .r53{
        left: calc(18% + 40px);
    }
    .main_room .r54{
        left: calc(18% + 80px);
    }
    .main_room .r55{
        left: calc(18% + 120px);
    }
    .main_room .r56{
        left: calc(18% + 160px);
    }
    .main_room .r57{
        left: calc(18% + 200px);
    }
    .main_room .r58{
        left: calc(18% + 240px);
    }
    .main_room .r59{
        left: calc(18% + 280px);
    }
    
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .left_room label,
    .right_room label,
    .main_room label{
        height: 30px;
        width: 30px;
        line-height: 28px;
        font-size: 10px;
    }
    /* left room seat position start */
    .left_room .r2{
        top: 30px;
    }
    .left_room .r3{
        top: 60px;
    }
    .left_room .r5{
        left: 30px;
    }
    .left_room .r6{
        left: 60px;
    }
    .left_room .r7{
        left: 90px;
    }
    .left_room .r8{
        left: 120px;
    }
    .left_room .r9{
        left: 150px;
    }
    .left_room .r10{
        top: 30px;
    }
    /* left room seat position end */

    /* right room seat position start */
    .right_room .r13{
        top: 30px;
    }
    .right_room .r15{
        left: 30px;
    }
    .right_room .r16{
        left: 60px;
    }
    .right_room .r17{
        left: 90px;
    }
    .right_room .r18{
        left: 120px;
    }
    .right_room .r19{
        left: 150px;
    }
    .right_room .r20{
        bottom: 50px;
    }
    .right_room .r21{
        bottom: 80px;
    }
    .right_room .r22{
        bottom: 110px;
    }
    .right_room .r24{
        right: 70px;
    }
    
    /* right room seat position end */
    /* main room seat position start */
    .main_room .r25{
        right: 40px;
    }
    .main_room .r27{
        bottom: 30px;
    }
    .main_room .r28{
        bottom: 60px;
    }
    .main_room .r29{
        bottom: 90px;
    }
    .main_room .r30{
        bottom: 120px;
    }
    .main_room .r31{
        bottom: 150px;
    }
    .main_room .r33{
        right: 30px;
    }
    .main_room .r34{
        right: 60px;
    }
    .main_room .r35{
        right: 90px;
    }
    .main_room .r36{
        right: 120px;
    }
    .main_room .r37{
        right: 150px;
    }
    .main_room .r38{
        right: 180px;
    }
    .main_room .r39{
        right: 210px;
    }
    .main_room .r40{
        right: 240px;
    }
    .main_room .r41{
        right: 270px;
    }
    .main_room .r42{
        right: 300px;
    }
    .main_room .r43{
        right: 330px;
    }
    .main_room .r44{
        right: 360px;
    }
    .main_room .r45{
        right: 390px;
    }
    .main_room .r46{
        bottom: 150px;
    }
    .main_room .r47{
        bottom: 120px;
    }
    .main_room .r48{
        bottom: 90px;
    }
    .main_room .r49{
        bottom: 60px;
    }
    .main_room .r50{
        bottom: 30px;
    }
    .main_room .r52{
        left: 18%;
    }
    .main_room .r53{
        left: calc(18% + 30px);
    }
    .main_room .r54{
        left: calc(18% + 60px);
    }
    .main_room .r55{
        left: calc(18% + 90px);
    }
    .main_room .r56{
        left: calc(18% + 120px);
    }
    .main_room .r57{
        left: calc(18% + 150px);
    }
    .main_room .r58{
        left: calc(18% + 180px);
    }
    .main_room .r59{
        left: calc(18% + 210px);
    }

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .container{
        max-width: 100%;
        padding-inline: 10px;
    }
    .seat_booking{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .form_block{
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }
    .seat_book_form{
        padding: 20px;
    }
    .seat_book_map{
        width: 100%;
    }
    .seat_map{
        height: 550px;
    }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .seat_map{
        height: 350px;
    }
    .main_room{
        height: 65%;
    }
    .small_room_block{
        height: 35%;
    }
    .entry_line{
        font-size: 14px;
    }
    .left_room label,
    .right_room label,
    .main_room label{
        height: 25px;
        width: 25px;
        line-height: 18px;
        font-size: 10px;
    }
    /* left room seat position start */
    .left_room .r1{
        left: 0;
    }
    .left_room .r2{
        top: 25px;
    }
    .left_room .r3{
        top: 50px;
    }
    .left_room .r4{
        left: 0;
    }
    .left_room .r5{
        left: 25px;
    }
    .left_room .r6{
        left: 50px;
    }
    .left_room .r7{
        left: 75px;
    }
    .left_room .r8{
        left: 100px;
    }
    .left_room .r9{
        left: 125px;
    }
    .left_room .r10{
        top: 20px;
        right: 0;
    }
    .left_room .r11{
        right: 30px;
    }
    /* left room seat position end */

    /* right room seat position start */
    .right_room .r13{
        top: 25px;
    }
    .right_room .r14{
        left: 0;
    }
    .right_room .r15{
        left: 25px;
    }
    .right_room .r16{
        left: 50px;
    }
    .right_room .r17{
        left: 75px;
    }
    .right_room .r18{
        left: 100px;
    }
    .right_room .r19{
        left: 125px;
    }
    .right_room .r20{
        bottom: 30px;
    }
    .right_room .r21{
        bottom: 55px;
    }
    .right_room .r22{
        bottom: 80px;
    }
    .right_room .r23{
        right: 30px;
    }
    .right_room .r24{
        right: 55px;
    }
    
    /* right room seat position end */
    /* main room seat position start */
    .r32, .r33, .r34, .r35, .r36, .r37, .r38, .r39, .r40, .r41, .r42, .r43, .r44, .r45, .r52, .r53, .r54, .r55, .r56, .r57, .r58, .r59{
        width: 20px!important;
        height: 20px!important;
    }
    .main_room .r25{
        right: 30px;
    }
    .main_room .r26{
        bottom: 0;
    }
    .main_room .r27{
        bottom: 25px;
    }
    .main_room .r28{
        bottom: 50px;
    }
    .main_room .r29{
        bottom: 75px;
    }
    .main_room .r30{
        bottom: 100px;
    }
    .main_room .r31{
        bottom: 125px;
    }
    .main_room .r32{
        right: 10px;
    }
    .main_room .r33{
        right: 30px;
    }
    .main_room .r34{
        right: 50px;
    }
    .main_room .r35{
        right: 70px;
    }
    .main_room .r36{
        right: 90px;
    }
    .main_room .r37{
        right: 110px;
    }
    .main_room .r38{
        right: 130px;
    }
    .main_room .r39{
        right: 150px;
    }
    .main_room .r40{
        right: 170px;
    }
    .main_room .r41{
        right: 190px;
    }
    .main_room .r42{
        right: 210px;
    }
    .main_room .r43{
        right: 230px;
    }
    .main_room .r44{
        right: 250px;
    }
    .main_room .r45{
        right: 270px;
    }
    .main_room .r46{
        bottom: 125px;
    }
    .main_room .r47{
        bottom: 100px;
    }
    .main_room .r48{
        bottom: 75px;
    }
    .main_room .r49{
        bottom: 50px;
    }
    .main_room .r50{
        bottom: 25px;
    }
    .main_room .r52{
        left: 20%;
    }
    .main_room .r53{
        left: calc(20% + 20px);
    }
    .main_room .r54{
        left: calc(20% + 40px);
    }
    .main_room .r55{
        left: calc(20% + 60px);
    }
    .main_room .r56{
        left: calc(20% + 80px);
    }
    .main_room .r57{
        left: calc(20% + 100px);
    }
    .main_room .r58{
        left: calc(20% + 120px);
    }
    .main_room .r59{
        left: calc(20% + 140px);
    }
    /* .seat_table{} */
    .right_room::before{
        left: 35%;
        width: 15px;
    }
    .left_room::before{
        width: 15px;
    }
    .left_room::after{
        height: 20px;
    }
    .right_room::after{
        height: 20px;
    }
    .seat_booking{
        margin-inline: 0;
        padding-inline: 0;
    }
}




/* responsive with media screen end */