/* booking page design start */
.seat_booking{
    display: flex;
    margin-block: 40px;
}
.seat_book_form{
    width: 50%;
}
.seat_book_map{
    width: 50%;
}
.seat_book_map h1{
    font-size: 22px;
    font-weight: 500;
}
.seat_book_map p{
    margin-bottom: 20px;
}
.seat_map{
    width: 100%;
    box-shadow: 0 3px 20px 2px rgba(31, 31, 31, 0.15);
    height: 600px;
    border: 2px solid #d7d7d7;
}
.seat_map input{
    display: none;
}
.main_room{
    position: relative;
    width: 100%;
    height: 60%;
    border-bottom: 2px solid #d7d7d7;
}
.small_room_block{
    display: flex;
    justify-content: space-between;
    height: 40%;
    position: relative;
}
.entry_line{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    letter-spacing: 3px;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.left_room{
    position: relative;
    width: 45%;
    height: 100%;
    border-right: 2px solid #d7d7d7;
}
.left_room::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 50px;
    background-color: black;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.left_room::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: black;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.right_room{
    position: relative;
    width: 45%;
    border-left: 2px solid #d7d7d7;
    height: 100%;
}
.right_room::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 50px;
    background-color: black;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.right_room::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: black;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.left_room label,
.right_room label,
.main_room label{
    height: 40px;
    width: 40px;
    line-height: 38px;
    display: block;
    text-align: center;
    font-size: 12px;
    border: 1px solid;
    position: absolute;
    cursor: pointer;
}
/* left room seat position start */
.left_room .r1{
    top: 0;
    left: 50px;
}
.left_room .r2{
    top: 40px;
    left: 0;
}
.left_room .r3{
    top: 80px;
    left: 0;
}
.left_room .r4{
    bottom: 0;
    left: 30px;
}
.left_room .r5{
    bottom: 0;
    left: 70px;
}
.left_room .r6{
    bottom: 0;
    left: 110px;
}
.left_room .r7{
    bottom: 0;
    left: 150px;
}
.left_room .r8{
    bottom: 0;
    left: 190px;
}
.left_room .r9{
    bottom: 0;
    left: 230px;
}
.left_room .r10{
    top: 40px;
    right: 0;
}
.left_room .r11{
    top: 0;
    right: 50px;
}
/* left room seat position end */

/* right room seat position start */
.right_room .r12{
    top: 0;
    left: 0;
}
.right_room .r13{
    top: 40px;
    left: 0;
}
.right_room .r14{
    bottom: 0;
    left: 30px;
}
.right_room .r15{
    bottom: 0;
    left: 70px;
}
.right_room .r16{
    bottom: 0;
    left: 110px;
}
.right_room .r17{
    bottom: 0;
    left: 150px;
}
.right_room .r18{
    bottom: 0;
    left: 190px;
}
.right_room .r19{
    bottom: 0;
    left: 230px;
}
.right_room .r20{
    bottom: 60px;
    right: 0;
}
.right_room .r21{
    bottom: 100px;
    right: 0;
}
.right_room .r22{
    bottom: 140px;
    right: 0;
}
/* right room seat position end */
/* main room seat position start */
.main_room .r23{
    bottom: 0;
    right: 0;
}
.main_room .r24{
    bottom: 40px;
    right: 0;
}
.main_room .r25{
    bottom: 80px;
    right: 0;
}
.main_room .r26{
    bottom: 120px;
    right: 0;
}
.main_room .r27{
    bottom: 160px;
    right: 0;
}
.main_room .r28{
    bottom: 200px;
    right: 0;
}
.main_room .r29{
    top: 0;
    right: 50px;
}
.main_room .r30{
    top: 0;
    right: 90px;
}
.main_room .r31{
    top: 0;
    right: 130px;
}
.main_room .r32{
    top: 0;
    right: 170px;
}
.main_room .r33{
    top: 0;
    right: 210px;
}
.main_room .r34{
    top: 0;
    right: 250px;
}
.main_room .r35{
    top: 0;
    right: 290px;
}
.main_room .r36{
    top: 0;
    right: 330px;
}
.main_room .r37{
    top: 0;
    right: 370px;
}
.main_room .r38{
    top: 0;
    right: 410px;
}
.main_room .r39{
    top: 0;
    right: 450px;
}
.main_room .r40{
    top: 0;
    right: 490px;
}
.main_room .r41{
    top: 0;
    right: 530px;
}
.main_room .r42{
    bottom: 200px;
    left: 0;
}
.main_room .r43{
    bottom: 160px;
    left: 0;
}
.main_room .r44{
    bottom: 120px;
    left: 0;
}
.main_room .r45{
    bottom: 80px;
    left: 0;
}
.main_room .r46{
    bottom: 40px;
    left: 0;
}
.main_room .r47{
    bottom: 0;
    left: 0;
}
.main_room .r48{
    bottom: 0;
    left: 35%;
}
.main_room .r49{
    bottom: 0;
    left: calc(35% + 40px);
}
.main_room .r50{
    bottom: 0;
    left: calc(35% + 80px);
}
.main_room .r51{
    bottom: 0;
    left: calc(35% + 120px);
}
.main_room .r52{
    bottom: 0;
    left: calc(35% + 160px);
}
.main_room .r53{
    bottom: 0;
    left: calc(35% + 200px);
}
.seat_table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    padding: 20px 80px;
}
/* main room seat position end */

/* booking page design end */